*{
    margin: 15px auto;
}

body{
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

main > div {
    flex: 1;
    padding: 2rem;
    margin: 4rem;
    max-width: 40rem;
    min-height: 15rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px 5px #ecececd8;
    border: 2px solid #ececec;
    background-color: #f5f5f563;
}
#weatherInfo, #weatherForm, #latlonForm, #latlonInfo {
    margin: 1rem;
}